
body{
	background:url("images/grey.jpg");
}

.container-fluid{
	padding-right: 0px;
	padding-left: 0px;
}

.top ul{
	list-style: none;
}
.top ul li{
	float: right;
}


.col-sm-12 ul li a{
	color:white !important;	
}

.gard{ 
	border:2px solid #d9d9d9;
    margin-top: 10px;

}
.gard img{
	padding: 10px;

}



